# IDE
.idea/
.vscode/

# Python
__pycache__/

# Environments
.venv/
venv/
venv.bak/

# Unit test / coverage reports
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Log
*.log
*.log.*
